:root {
  --big-text-color: #fff;
  --big-text-weigth: 600;
  --small-title-color: #d7d7d7;
  --border-color: rgba(192, 34, 229, 0.7);
  --numbers-cont-background: rgba(255, 255, 255, 0.13);
  --numbers-containerfsize: 12px;
  --numbers-container-h3size: 30px;
}
.titles-main {
  display: flex;
}

.titles {
  margin-top: 60px;
  width: 50%;
}
.titles-left {
  color: var(--big-text-color);
}

.titles-left h1 {
  font-weight: var(--big-text-weigth);
  font-size: 50px;
  line-height: 60px;
  font-family: ruda;
  width: 80%;
}

.titles-left h1 span {
  background: -webkit-linear-gradient(
    259.74deg,
    #af25d3 75.33%,
    #7b2ba6 85.93%,
    #b736c8 98.26%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.small-title {
  margin: 20px 0;
  font-family: "open sans";
  font-weight: 400;
  color: var(--small-title-color);
}
.title-buttons {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Open sans";
}
.title-buttons div {
  display: flex;

  align-items: center;
}
.titles-right {
  position: relative;
}

.watch-circle {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  align-items: center;

  border: 1px solid var(--border-color);
  margin-right: 10px;
  cursor: pointer;
}
.titles-numbers-container {
  width: 400px;
  height: 120px;
  background: var(--numbers-cont-background);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}
.titles-numbers-container div {
  font-family: "open sans";
  font-size: var(--numbers-containerfsize);
}
.titles-numbers-container h3 {
  font-size: var(--numbers-container-h3size);
  color: var(--small-title-color);
}
.titles-right img {
  position: absolute;
}
.titles_gold-skull {
  width: 350px;
  top: 150px;
  left: 10px;
  animation: animation_leftright infinite 2.5s;
}

.titles_cat {
  top: -30px;
  animation: animation_topbottom infinite 3.3s;
}

.titles_bones {
  right: 0;
  width: 200px;
  animation: animation_leftright infinite ease-in-out 1.4s;
}
.titles_head {
  bottom: 0;
  right: 0;
  animation: animation_topbottom infinite ease-in-out 1.5s;
}
@keyframes animation_leftright {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes animation_topbottom {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(30px);
  }
  100% {
    transform: translatey(0px);
  }
}
