.single-top-image {
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
}
.single-top-image:hover {
  transform: scale(1.3);
}

.single-top-image img {
  width: 250px;
  height: 80%;
  object-fit: cover;
  pointer-events: none;
}
.single-top-image div {
  display: flex;
  align-items: center;
  height: 20%;
}
